[2016-04-03 07:46] nficano opened #1 "Allow invoke to take an optional --file=<event.json> parameter"

[2016-04-03 07:47] nficano opened #2 "When deploying, all py files in project directory should get bundled with dist"

[2016-04-04 18:12] #1 closed

[2016-04-06 20:42] Miserlou opened #3 "Use lambda-packages during builds"
Hello!

Thought you might be interested in incorporating [lambda-packages](https://github.com/Miserlou/lambda-packages) that we use with [Zappa](https://github.com/Miserlou/Zappa) as part of your library's build process. You can see how we do it automatically swap out lambda-compatible dependencies.

[2016-04-09 16:51] nficano commented on #3
Reading up on this now, thank you so much for sharing!

[2016-04-11 21:24] #2 closed

[2016-07-03 22:27] loren opened #11 "Add support for injecting environment variables"
I'm not sure if there's a way to do this already with python-lambda, but the node-lambda library handles it this way: https://github.com/motdotla/node-lambda#custom-environment-variables

[2016-07-04 18:00] quiqua commented on #11
You can also just use [git secret](https://github.com/sobolevn/git-secret) to  add an encrypted file to the repository.
With each deploy, the decrypted files gets uploaded as well.

[2016-09-07 15:37] ormanli opened #16 "Jenkins build error"
Hi,

I want to use Jenkins for packaging our AWS Lambda project. I use ShiningPanda for managing virtual environment. When I execute `lambda build` command, it gives error. It creates a zip but it does not have some dependencies. Lines with `+` are my commands.

[code]

[2016-10-24 18:23] maxtortime opened #19 "README supplement"
Thanks for this project and I followed the README very easily, but I think README needs some supplement for new users of AWS (like me).

While I was following that README, Before running of `lambda deploy`, I should create IAM users for getting `aws_access_key_id` and `aws_secret_access_key`. Nextly, I should create `~/.aws/credentials` files for saving both key or just input to `config.yaml` (don

[2016-11-05 03:43] superstrong commented on #19
In addition to creating a new user, I needed to create a new role specifically called `lambda_basic_execution` with the appropriate policies.

[2016-11-05 14:07] maxtortime commented on #19
I think making user at AWS IAP console (web browser) is easy, so just writing instruction to documentation will be better. May I edit README?

[2016-12-16 17:42] sebastianmacias opened #23 "S3 Support"
I'm getting an error when trying to deploy:

`botocore.exceptions.ClientError: An error occurred (RequestEntityTooLargeException) when calling the UpdateFunctionCode operation: Request must be smaller than 69905067 bytes for the UpdateFunctionCode operation`

It could be avoided by uploading the lambda function code first to S3 and then deploying it to lambda from there.

Do you plan to support th

[2016-12-23 02:28] stevezau opened #24 "Logging configuration"
Hi, When running invoke locally it appears it does not configure logging..

Should it ?

[code]

[2017-01-04 21:11] lukemalcolm commented on #19
Please can I second the addition of README steps around:
IAM Policies needed for the developers account
IAM Role called `lambda_basic_execution `needed with the `LambdaBasicExecution `policy attached.

Tx.

[2017-01-17 17:11] jpotts18 opened #26 "Enhancement: Environment Variables"
What do you think about adding an .env file into every lambda folder? Sending environment variables can be accomplished after uploading the zip file.

[code]

[2017-01-17 18:46] nelsonSchwarz commented on #19
I also spent unnecessary time working to figure out this policy issue. Please add to README.

[2017-01-17 20:45] nficano commented on #19
will do asap

[2017-01-19 21:55] tdhopper opened #27 "AWS Credentials from Environmental Variables"
Great project, @nficano.

Have you considered allowing AWS credentials to be defined from environmental variables?

My use case is automating a deploy from Travis. This is the easiest solution I can think of.

[2017-02-02 22:30] barnabygordon opened #28 "Client Role Error"
Hi,

After building a simple function and running `lambda deploy` I receive this error:

`botocore.exceptions.ClientError: An error occurred (InvalidParameterValueException) when calling the CreateFunction operation: The role defined for the function cannot be assumed by Lambda.`

Has anyone else had this issue? Is there a config file somewhere specifying the role that I can edit?

[2017-02-02 22:44] nficano commented on #28
Ah yes, I need to update the README but haven't had the time. Please refer to this similar issue that includes the instructions for fixing this: https://github.com/nficano/python-lambda/issues/19

[2017-02-02 22:44] #28 closed

[2017-02-20 17:17] mdorn opened #29 "Deploy only packages necessary for your code"
Great project @nficano, thanks for making it.

I noticed that `lambda deploy` zips up and deploys **all** the packages in the virtualenv, including ones that are only needed to run python-lambda itself locally (e.g. boto, pip, pyaml, etc.) and therefore unneeded on AWS.  It would be nice to be able to restrict this, maybe an additional config variable where you can indicate package names needed fo

[2017-03-06 22:10] gferon commented on #29
I agree as well! Probably using a requirements.txt file to list the dependencies to deploy would be a good approach (it's also standard). I can make a PR is this is interesting for you guys.

[2017-03-06 22:40] nficano commented on #29
@gferon that would be insanely appreciated!

[2017-03-07 01:03] idwsjnc commented on #27
tdhopper, the way the boto3 lib is invoked, if you don't specify the keys in the config file, it will try to use other credential methods:

http://boto3.readthedocs.io/en/latest/guide/configuration.html

[2017-03-07 13:17] tdhopper commented on #27
@idwsjnc: Awesome. Thanks.

[2017-03-11 17:03] grandearminho commented on #28
@nficano I've trying following the steps specified by maxtortime, but I still get the same exception. I also tried the steps specified by superstrong (although I'm not sure I did those correctly), but to no avail. Would it be possible to get more specific steps and an explanation of what permissions are being given for what reason?

Thanks!

[2017-03-12 20:37] Ghopper21 opened #31 "Import of local modules from the main module doesn't work when invoking"
I have a lambda that imports a local module (i.e. another Python file in the same folder as the main lambda module, as opposed to a pip installed package). Doing a `lambda deploy` works, and the resulting lambda on AWS works also. However, when I do `lambda invoke` for local testing, I get an `ImportError: No module named foo` where `foo` is the module I'm trying to import.

[2017-03-17 03:35] kadrach commented on #31
As a workaround, you can set (or append) your `PYTHONPATH`, e.g. `PYTHONPATH=$(pwd) lambda invoke` should work.

[2017-03-24 15:35] #27 closed

[2017-03-30 22:21] demonxy468 opened #32 "Local Test - Modify service.py file did not reflect the changes"
I am new to lambda and Bash script.  When I modify the service.py under the root folder, e.g. change **e + pi** to **e - pi**, it did not return the result after the changes.  Anyone could help? Or do I need to recompiled the service.pyc file everytime I make the changes?

Thanks for the help.

[2017-03-30 23:19] nficano commented on #32
Can you confirm returning other things work? such as a simple string or a small fibonacci sequence?

[2017-03-30 23:40] demonxy468 commented on #32
Hi @nficano ,

The modified code is not reflect my changes even I change the return type:
[code]
Even I changed the return value, it still returned us 5.858.
I am running this lab at Windows via "Bash on Ubuntu" application. Will it make any differences?

[2017-03-31 02:03] nficano commented on #32
and you're calling ``lambda deploy`` after you modify your code?

[2017-03-31 04:00] demonxy468 commented on #32
Sorry for not adding that much detail.  After modifying service.py, I ran `lambda invoke -v` , it returned the result before changing. Then I tried to recompile the python-lambda script to service.pyc to invoke again, by running `python -m compileall service.py`, didn't work either.  But the result will change if I changed event.json file.

[2017-04-03 21:21] demonxy468 commented on #32
Still not sure if it is the Ubuntu on Windows platform causes the error. I switched to AWS EC2 Ubuntu environment, the issue was fixed.

[2017-04-03 21:21] #32 closed

[2017-04-19 21:36] kzuberi opened #33 "including executable binaries"
Lambda supports execution of binary programs within a lambda function, and python-lambda is a convenient way to package and upload these wrapped in a python interface. This *almost* works perfectly as is, except that python zip doesn't preserve executable bits when creating the package, and AWS requires these to be set or else the binary will fail with a permissions error.

I worked around this fo

[2017-04-27 02:37] nficano commented on #29
all done!

[2017-04-27 02:37] #29 closed

[2017-04-28 18:43] tmhammer opened #34 "No such file or directory: 'requirements.txt'"
When following the steps in Getting Started, I see this error when I run `pip install python-lambda`:
[code]

[2017-04-28 19:57] nficano commented on #34
sorry about that, pushed a bad release. reverted

[2017-05-05 16:29] thiagoramos23 opened #35 "Not deploying to AWS"
Nice Lib. So much simpler than Zappa. It's really what I need, but I am having hard times to deploy. It got stuck when calling lambda deploy.

[2017-05-08 01:21] nricklin commented on #28
in the config.yaml file I had to set the role name to be:
```service-role/<the-name-of-your-role>```

[2017-05-14 20:09] shaddu opened #37 "deployment fails"
gettiing below error while deploying the function

botocore.exceptions.ClientError: An error occurred (InvalidParameterValueException) when calling the CreateFunction operation: The role defi
ned for the function cannot be assumed by Lambda.

deployment fails after this message
Starting new HTTPS connection (1): lambda.us-east-1.amazonaws.com
Creating your new Lambda function
Starting new HTTPS co

[2017-05-19 08:21] notexistence commented on #37
I have the same problem. Is there any way to work around this?

[2017-05-19 10:46] shaddu commented on #37
for me it worked when i added a new AWS IAM role = 'lambda_basic_execution' with lambda execution rights

[2017-05-22 19:33] jmeekhof commented on #37
@shaddu Can you elaborate on this a bit? I've created a role, but how do we tell our deployer which role to use?

[2017-05-22 22:19] zachdb86 opened #38 "Function already exists error after initial lambda deploy"
Hi,

My deployment completes successfully the first time, but errors out on subsequent deployments with this error:

`botocore.exceptions.ClientError: An error occurred (ResourceConflictException) when calling the CreateFunction operation: Function already exist: es_get_channel_http_microservice`

[2017-05-23 15:42] shaddu commented on #37
@jmeekhof basically that role is expected in python-lambda execution. So if u manually create it and then use lambda deploy. It should work

[2017-05-31 02:20] nielsonsantana commented on #34
I think that this problem is because the version available on pypi (pip) is 0.5.0, and the current is 0.7.0.
https://pypi.python.org/pypi/python-lambda/

[2017-05-31 02:22] nielsonsantana opened #40 "Outdated version (0.5.0) on pip"
The current version is 0.7.0 but the version available on pip is 0.5.0
https://pypi.python.org/pypi/python-lambda/

[2017-05-31 08:20] cristianoliveira opened #41 "Error: IsADirectoryError on init command"
Hi there.

We are getting the follow errors using python3:
[code]

It is trying to copy a folder, in this case `__pycache__`, which I think is a wrong behavior. I have already fixed that here. I going to open a PR with the fix.

[2017-06-01 12:39] jmeekhof opened #43 "lambda build doesn't support --use-requirements"
When building or deploying the lambda script doesn't follow the `--use-requirements` flag. The click group describes it's use. What am I missing?

[2017-06-01 12:46] jmeekhof commented on #43
Ok, I figured out what I'm missing. I'm running `0.5.0` and that feature is not available in that version. Unfortunately, the pip repository doesn't contain newer revisions.

[2017-06-01 12:46] #43 closed

[2017-06-01 15:18] jmeekhof opened #44 "--local-package only supports one package"
When building or deploying the use of `--local-package` will only use the last specified local package.

[2017-06-02 00:53] #41 closed

[2017-06-02 00:55] #44 closed

[2017-06-03 02:02] #37 closed

[2017-06-03 02:08] jmeekhof commented on #26
This would be a great feature to add. Definitely on the roadmap.

[2017-06-03 02:10] jmeekhof commented on #24
Can you elaborate?

Are you `import logging`?

[2017-06-03 02:11] jmeekhof commented on #23
It's worth considering...

[2017-06-03 02:15] #19 closed

[2017-06-06 02:24] jmeekhof commented on #40
I've updated the pypi repository.

[2017-06-06 02:24] #40 closed

[2017-06-06 02:24] jmeekhof commented on #34
Uploaded latest version to pypi.

[2017-06-06 02:24] #34 closed

[2017-06-06 03:36] jmeekhof commented on #26
Taking a peak through the code, I think we the support is there to translate _some_ local env variables to the lambda instance.

Take a look at this code:
https://github.com/nficano/python-lambda/blob/master/aws_lambda/aws_lambda.py#L364-L370

If you name a local variable `LAMBDA_foo`, it should translate to `foo` in the lambda instance.

That being said, I like the idea of a singular file that ha

[2017-06-07 13:45] jmeekhof commented on #31
The code to allow this to work has been merged into master. It'll be available next release.

[2017-06-07 13:45] #31 closed

[2017-06-07 13:54] jmeekhof commented on #26
See issue #11

[2017-06-13 04:55] movefast commented on #38
Haven't run into this issue myself but looking at the code it only creates a function if you give a new name in the config, maybe give another try after pulling in the latest changes and reinstall botocore/boto3; if still doesn't work, you can try to change the script default to updating the function at aws_lambda/aws_lambda.py#L86 and see if you are still getting the same exception.

[2017-06-15 19:40] RedOakMark opened #48 "Deploying demo app - "Unknown parameter in input: "Environment""
I'm attempting to deploy the basic demo app to our account, just to get familiar with the workflow.  However, when attempting to initialize the deploy, I receive this error, which is traced to line 371 of the aws_lambda.py code (the section dealing with "Environment" variables):

[code]

This appears to be the function being called - any thoughts?  I'm not looking to push any environment variable

[2017-06-16 00:09] jmeekhof commented on #48
I need to make that parameter optional.

For now add environment key to your config.yaml

[2017-06-16 01:50] jmeekhof commented on #48
Actually, this isn't what I thought it was. I believe this is a boto issue. Try upgrading to the latest version of boto3.

[2017-06-16 01:58] RedOakMark commented on #48
Absolutely.  I'm running in a virtualenv with what I believe are updated packages:

[code]

[2017-06-16 01:59] RedOakMark commented on #48
I should note that I was able to manually push the function using AWS CLI and once that was done, the deploy actually works (with an update).

[2017-06-16 02:13] jmeekhof commented on #48
Ok, here's the deal. I _did_ run into this same issue. It is boto related. The `requirements.txt` needs to be updated to include a more recent version of boto utils.

If you take a peak at the  [environment_vars](https://github.com/nficano/python-lambda/blob/4390aeb81e18a5772df3d8b54641ce3c973f2287/requirements.txt) version of requirements.txt you'll see I've bumped these versions.
[code]
See if c

[2017-06-16 02:29] RedOakMark commented on #48
That did help.  Added this line before the `lambda init`

`pip install boto3==1.4.4` which also took care and installed `botocore==1.5.68` as a dependency.

Then deployed a fresh virtualenv and function, which was successful out of the box.  Many thanks.

[2017-06-16 14:34] jmeekhof commented on #48
Good. I'm glad that worked for you. We'll get the updated requirements into the next release.

[2017-06-16 14:34] #48 closed

[2017-06-16 16:41] jmeekhof commented on #26
This feature has been added and merged to master. It'll be generally available next release. Meanwhile, you can grab it off the master branch.

[2017-06-16 16:41] #26 closed

[2017-06-16 16:42] jmeekhof commented on #11
feature added and merged to master.

[2017-06-16 16:42] #11 closed

[2017-06-20 18:21] RedOakMark commented on #35
This probably has to do with the size of your deployment package @thiagoramos23 - I believe there is a 50MB limit and as soon as I topped that number, I got the same error.

This was in my `dist` folder.  The 39MB package worked fine, but the 98MB package failed with this error `botocore.vendored.requests.exceptions.ConnectionError: ('Connection aborted.', error(32, 'Broken pipe'))`.

![image](htt

[2017-06-26 18:57] geekmuse commented on #38
+1 Seeing this same behavior.

[2017-07-06 23:05] kedall opened #51 "Unknown parameter in input: "Environment", must be one of: FunctionName, Runtime, Role, Handler, Code, Description, Timeout, MemorySize, Publish, VpcConfig"
when i follow the instructions in the README and
lambda deploy , I get the following stack trace:
[code]

[2017-07-08 00:36] srubin commented on #51
I was having this same issue. I fixed it by running `pip install boto3=1.4.4` and trying again.

[2017-07-10 15:18] kedall commented on #51
confimed. thanks @srubin

[2017-07-10 15:18] #51 closed

[2017-07-10 15:59] kedall opened #52 "aws api invocation failing"
hi folks,
 having one more issue here :
when i test the function on the lambda console - it works fine - but when I try to call the API , the following error occurs and the cloudwatch log suggests no parameters were sent.

Traceback (most recent call last):
[code]

called like so:
[code]

[2017-07-11 18:51] jmeekhof commented on #51
I've updated the `requirements.txt` file in the latest release to include the newer and updated versions of `boto3` and `botocore`.

[2017-07-12 16:50] kedall commented on #52
I figured out the reason it is failing.

event has no parameters called 'e' or 'pi'. So my guess more changes are needed for invoke to work at parity with the api gateway.

e = float(event['queryStringParameters']['e'])
pi = float(event['queryStringParameters']['pi'])

[2017-07-22 04:01] sirvon opened #55 "Error while deploying..."
I'm constantly getting this error while trying to deploy to AWS..

[code]

[2017-07-22 06:20] nficano commented on #55
Looks like your version may be out of date, make sure you run pip install -U python-lambda to verify

[2017-07-22 06:20] #55 closed

[2017-08-01 13:24] jmeekhof opened #56 "Update Function doesn't allow you to update the runtime"

[2017-08-03 01:15] kwanster opened #57 "Unable to import sub-directory module in AWS (but worked locally)"
I extended my python code to include a main lambda handler file and a module in a subdirectory:
- main lambda handler: **service.py**
- newly created module: **utils/slotutils.py** where it contains the **get_slot()** and **elicit_slot()** functions.

- In **service.py**, **get_slot()** and **elicit_slot()** were imported and referenced
- I was able to run the code locally with the command "lambda

[2017-08-03 11:15] kwanster commented on #57
I also just learned that the directory "utils" was not included in the zip package. I think I can make the problem go away if I can zip every newly defined directories in my virtual environment.

[2017-08-03 12:19] jmeekhof commented on #57
@kwanster by default only the packages in your virtual environment and the files in your local directory are included in the zip. Your solution of placing your code in the same directory is a good solution. If, however you `utils` is generic and you want to use them elsewhere, you may want to create a pip style package. Then you'd be able to include them using the `--local-package` option.

[2017-08-03 20:37] kwanster commented on #57
Thank you. I am closing the issue as there is nothing to be fixed.

[2017-08-03 20:37] #57 closed

[2017-08-05 17:59] tywoodpav opened #58 "Not pip installing a local package"
I am deploying `psycopg2` with my lambda build. Because `psycopg2` relies on the statically linked `libpq.so` library, `pip install` doesn't work (so neither does `--local-package`).

What I've done in the past is to pre-compile the psycopg2 package and copy the folder directly to lambda dist (no pip install). Seems like a useful feature.

https://github.com/jkehler/awslambda-psycopg2

[2017-08-06 08:54] pokryfka opened #59 "importing boto3 fails (python3.6)"
To reproduce just

``import boto3``

somewhere on the code, for example in service.py
and deploy for python3.6

Removing "concurrent" from the zip package solves the problem.

Exception details:

[code]

[2017-08-17 14:03] ncurwen opened #60 "Importing LXML fails (Python 3.6)"
Hi everyone,

I'm working on a lambda that will makes use of LXML. When running the lambda in AWS I noticed the following error message: `Unable to import module 'service': cannot import name 'etree'`. It seems this is because "LXML must be built with C extensions for libxml2 and libxslt in a way that plays well with the Amazon Lambda execution environment."

Has anyone else run into this issue?

[2017-08-17 14:27] jmeekhof commented on #60
Yes, I've run into this type of issue before. You have 2 issues.

1. Your c extension must be compiled for Amazon linux. There are 2 ways to solve this.
a. spin up an ec2 instance and deploy from there.
b. create a docker container and develop and deploy from the container.(this is how I do it) Here's a quick and dirty Dockerfile: https://gist.github.com/jmeekhof/f226a8e148f345c71e8c0f87123ee8bf

[2017-08-17 18:18] kernel-sanders opened #61 "Environment variables are not loaded during invoke"
When calling invoke, the environment variables from config.yaml are not loaded into the environment. Any script that relies on the variables will fail with a KeyError.

[2017-08-19 05:47] dvnrvn commented on #59
Yep, I am experiencing the same issue. I added `concurrent==` to the blacklist of packages here:

https://github.com/nficano/python-lambda/blob/master/aws_lambda/aws_lambda.py#L274

However, I am not sure if this should be the best solution.

[2017-08-21 14:30] ncurwen commented on #60
Hi Josh, I appreciate the help.

I'm working on the Docker solution you mentioned but I'm running into some issues with permissions within the container. When execution `lambda build` within the container it's unable to create the .zip due to not having write permissions in the mounted `code` directory.

Any suggestions?

Thanks,
Nick

[2017-08-21 17:48] jmeekhof commented on #60
Nick,

So the volume you're mounting into your code directory should be a real directory on your host machine. If it's not real or you don't have permissions for it on your host, it won't work. Can you share the docker command you are using to run this?

[code]

[2017-08-22 00:21] #61 closed

[2017-08-22 17:43] ncurwen commented on #60
Josh,

I've got permissions for the local code directory and it's the proper path to the root of the project (doing an `ls` within the container I can see the contents). Here's the command.

[code]

I was doing some more research and it seems that it's probably due to my Docker setup. My team is using an older flavour of Docker (Boot2Docker) for some other projects which is likely where the issue

[2017-08-22 18:32] jmeekhof commented on #60
You always have the option of spinning up an ec2 instance, checking out your code, pip install, deploy from there too. For my time, I'll always go the docker route. ;-)

Can we close this issue?

Josh

[2017-08-22 18:35] jmeekhof commented on #58
The solution to this is the same as the solution to #60.  Basically you need to do a `lambda build` and then use some sort of zip utility to add your `so`.

[2017-08-22 18:41] ncurwen commented on #60
Will do Josh.

Cheers,
Nick

[2017-08-22 18:41] #60 closed

[2017-08-24 06:37] applechief opened #64 "Subdirectories not included in the zip package"
subdirectories in the the root folder are being skipped in the build function.

[2017-09-03 05:39] kilna commented on #23
My build + deploy process needs to go through S3 as well, this would be super useful

[2017-09-04 07:07] g-g-n opened #66 "Support coverage from the tests too"
Possibly using https://coverage.readthedocs.io/en/coverage-4.4.1/ or something else you know of. This will help immensely for those who prefer TDD.

[2017-09-04 11:05] prasannaboga opened #67 "Provide option for multiple environments"
I would like to deploy lambda function in multiple environments, like development, staging, and production.

Is there is a way to setup config.yaml for different working environments?

[2017-09-06 02:47] slapula commented on #23
Wow, totally missed this issue. @kilna I'm working on deploying to S3.  Hopefully, it will be ready in a couple weeks.

[2017-09-06 18:48] kilna-magento opened #68 "Support for version in Amazon API and filenames"
Currently filenames are coded only with a timestamp...  ideally there would be provisions for creating the filename based on a version string.  The same input could then in turn be used to set the version as per the AWS Lambda API:

https://docs.aws.amazon.com/lambda/latest/dg/versioning-intro.html

This could be implemented by adding a "version: x.x.x" line to the config.yaml file, if present the

[2017-09-06 18:48] kilna-magento commented on #68
Tagging my other non-work account @kilna

[2017-09-06 19:03] kilna commented on #68
Also, bears mentioning... looking at the codebase, I can do this. Just curious if others have the same need.

[2017-09-07 14:41] kilna-magento commented on #67
Proposed solution: Make the yaml file from which the configuration is read an optional command line parameter. If lambda is called with -c production.yaml it will use that file instead of config.yaml. I'd find this feature useful too.

[2017-09-09 15:52] #58 closed

[2017-09-18 16:00] nficano commented on #23
released!

[2017-09-18 16:00] #23 closed

[2017-09-19 17:08] asaolabs commented on #38
Believe this is addressed with the latest merged changes.  The client.list_functions() call to AWS returns paged results.  We now query for the "complete list" before checking to see if the function exists or not.  You were likely to start running into this if you had over 50 Lambda functions defined.

[2017-09-19 18:56] nficano commented on #38
Thanks sir! will close

[2017-09-19 18:56] #38 closed

[2017-09-19 20:24] asaolabs commented on #64
Fixed the issue with the prior resolution where directories weren't specifically handled correctly.  Solved this problem by adding a configuration parameter to the config.yaml file (updated the default template to set the source_directories value under build) that allows you to specify which folders should be included in the zip package.  Went on the assumption that all subdirectories shouldn't be

[2017-09-22 23:36] rizkiwicaksono opened #71 ""lambda invoke" failed without environment_variables in config"
when environment_variables are commented out, lambda_invoke failed with the following exception:

[code]
This happened on a project where I didn't need env vars and can't deploy them due to KMS issue when encrypting env vars.

[2017-09-23 23:35] cwharland commented on #59
Any thought on the proper way to fix this problem? Why is concurrent installed in the first place?

[2017-09-25 04:29] slapula commented on #56
I have a PR for this.  I just haven't submitted it yet.  You can expect it on Oct. 1st when Hacktoberfest kicks off.

[2017-09-25 04:32] slapula commented on #23
I have an S3 deployment PR ready to submit (which should directly satisfy the requestor's need here).  Expect to see it on Oct 1st.

[2017-10-01 23:27] #56 closed

[2017-10-01 23:27] #71 closed

[2017-10-02 05:08] agustin320 opened #75 "lambda function gets enviroment variable name"
When calling invoke, if you try to get a env var (`os.environ['host']`) set in the config file like so:
`host: $HOST` it will print out `$HOST` instead of the actual value of the envar $HOST

[2017-10-12 22:20] zhang8473 opened #77 "Lots of packages cannot be installed when using `lambda deploy`"
Lots of packages cannot be installed when using `lambda deploy`

for example,
Installing screen-resolution-extra==0.0.0
  Could not find a version that satisfies the requirement screen-resolution-extra==0.0.0 (from versions: )
No matching distribution found for screen-resolution-extra==0.0.0

[2017-10-17 12:37] rjaus opened #78 "Lambda Deploy command sets Lambda function's network to "No VPC""
I'm not sure if this is a bug in the library, or how I've setup AWS / Lambda.

But everytime I run "lambda deploy" the lambda function I'm deploying to is set to "No VPC", dropping the subnets and security group.

Any ideas why this might be happening?

[2017-10-19 21:53] slapula commented on #35
You can use the new S3 functionality to get around this issue now (`deploy_s3`).

[2017-10-20 05:29] #35 closed

[2017-10-23 09:01] bob-codingdutchmen commented on #78
Looking at [this code](https://github.com/nficano/python-lambda/blob/master/aws_lambda/aws_lambda.py#L575), you should enter the VPC settings in your config file. From your question it isn't clear wether you did, but make sure you have entered the `subnet_ids` and `security_group_ids` correctly

[2017-10-23 16:02] bob-codingdutchmen commented on #75
Note: the README indicates the correct usage is `${HOST}`, but the result is the same for me: it just gets the name of the var

[2017-10-23 16:07] bob-codingdutchmen commented on #75
I scrolled through the code, and it looks like the `get_environment_variable_value` function is only called when actually creating or updating a function on AWS lambda. It shouldn't be too hard to make a pull request for, but I'm not sure if I'll have the time soon.

[2017-10-28 16:51] pirtil commented on #52
Give example is not working.

This works:

import json

def handler(event, context):
    # Your code goes here!
    body = json.loads( event['body'] )
    e = body['e']
    pi = body['pi']
    return {
            "statusCode": 200,
            "headers": { "Content-Type": "application/json"},
            "body": e + pi
    }

[2017-11-16 19:00] rstms commented on #33
I ran into this issue as well, and found a simple way to get binaries working:

- create a directory in your project root ('bin' for example)
- put binaries in the bin directory and make sure they're world-executable
- edit config.yaml line with `source_directories:` to include your `bin` directory

example `config.yaml`:
[code]

[2017-11-29 20:21] waldhol opened #81 "Too many packages included on `lambda deploy`"
When I do `lambda deploy` it does include these packages:

They are all NOT part of my project but parts of python-lambda.
They are therefore not needed on AWS Lambda to run my project.

How can I exclude these from deployment?

[2017-12-01 08:56] prasannaboga commented on #81
Those are the project depended packages
Boto is the AWS SDK for Python it provides API services for Amazon services like S3, DynamoDB, SQS etc., Other packages are helpful to prepare to deploy the project into the lambda.

[2017-12-01 11:08] mipli opened #82 "`lambda deploy_s3` not working without changes to aws_lambda.py"
When I tried to deploy through S3 using `lambda deploy_s3` I encountered two issues.

1. Setting `role: basic_s3_upload` in `config.yaml` did not work, since it then tried to give that role to the lambda function.

I solved this issue by removing the `role` definition in `config.yaml`, and then everything worked.

2. The filename on S3 was not properly passed along to the `update/create_function`

[2017-12-05 19:21] karthich commented on #81
is there that we could make python-lambda make a temporary virtualenv, package all of the dependencies in that virtualenv and then upload that artifact to s3/lambda?

[2017-12-05 19:42] karthich opened #83 "Build command should use correct keyword args for requirements"
The build command in scripts/lambda uses keyword arguments that are inconsistent with the build function in aws_lambda.py
`def build(use_requirements, local_package, config_file):
    aws_lambda.build(
        CURRENT_DIR,
        use_requirements=use_requirements,
        local_package=local_package,
        config_file=config_file,
    )
`
aws_lambda build function signature looks like this:
`
d

[2017-12-05 19:47] karthich commented on #83
Looks like build, deploy, deploy s3 all seem to be using use_requirements key word args. Maybe the aws_lambda function needs to be edited to accomodate these variable name changes?

[2017-12-05 21:29] karthich opened #86 "Ability to pass path (relative/absolute) of requirements file"
My current usage of python-lambda uses a common requirements.txt file for all my lambda functions. Instead of placing the requirements.txt file in the function directory. Can I just add the ability to pass my own requirements.txt file instead of being forced to put the requirements.txt file in the function directory.

[2017-12-05 21:31] karthich commented on #86
For context, this is my project structure:
`
-LambdaFunctionFolder1
  -service.py
  -requirements.txt
  -config.yaml
-LambdaFunctionFolder2
  -service.py
  -requirements.txt
  -config.yaml
`
Instead of that I would like to make the project look like this:
`
-Functions
	-LambdaFunctionFolder1
	  -service.py
	  -config.yaml
	-LambdaFunctionFolder2
	  -service.py
	  -config.yaml
  -requirements.txt
`

[2017-12-09 21:00] waldhol commented on #81
@karthich Thanks, that is exactly what I need.

[2017-12-11 15:12] nficano commented on #81
I'll merge by EOD, Thanks!

[2017-12-23 05:57] slapula commented on #82
Hmm, weird. Let me see if I can replicate these issues.  I did not run into them when I submitted this feature but I wouldn't be surprised if I messed something up.

[2018-01-06 03:08] FranciscoHanna opened #89 "Error when using 'lambda deploy_s3': Unexpected keyword argument 'use_requirements'"
When I try to deploy my lambda function with `lambda deploy_s3` I receive the following error:

I've installed the dependencies of my project trough a `requirements.txt` file with the command `pip install -r requirements.txt`. The error doesn't arise if I use `lambda deploy`.

[2018-01-06 04:13] FranciscoHanna commented on #89
This is the same as #83 and it's already solved by #85 but it's still no available trough pip repository.

[2018-01-06 04:21] FranciscoHanna commented on #89
I've closed because I thought that this was solve by #85 but it missed `deploy_s3` function correction so I reopen this issue.
I'm submiting a new PR correcting this.

[2018-01-08 12:25] galindro commented on #59
Even compiling from sources, the problem persists @nficano . If I remove `concurrent/` folder from the generated zip file, the function works as expected.

[2018-01-19 03:13] javamonkey79 opened #92 "locally installed packages fail to deploy"
I have a locally install package, built like so:

`pip install . --upgrade`

I check disk, and its there in the virtualenv.

However, when I run `lambda build` I get:

[code]

I've tried the local-package argument, and it works, but then the module is not picked up in intellij, so, I'd prefer to just have it picked up from virtualenv.

[2018-01-20 02:28] javamonkey79 commented on #92
I've traced this down to this point:

` pip.main(['install', package, '-t', path, '--ignore-installed'])`

So, by the looks of it, it seems we have to use the `--local-package` option, however, this presents other challenges (package is not on path this way).

Perhaps there is a way, by providing this in the requirements file?

[2018-01-26 22:51] jmehnle commented on #3
Although this seems like a great idea, I'd raise security concerns about downloading precompiled binaries from someone's GitHub repo with no way to verify that these binaries aren't compromised.

[2018-01-26 22:55] jmehnle commented on #67
Alternatively add a `--profile` parameter like the one supported by the `aws` CLI utility that controls which AWS credentials to read from `~/.aws/credentials` (and, by extension, which AWS account to connect to). This would be more consistent with existing `aws` workflows. But I can still see a `-c` option being useful independently of this.

[2018-02-02 20:49] jmehnle commented on #67
I've added a `--profile` option in https://github.com/nficano/python-lambda/pull/93 that you can use to switch between different environments, assuming you have configured those in your `.aws/{config,credentials}` files.

[2018-02-13 18:01] javamonkey79 commented on #86
@karthich yes, please submit a PR

[2018-02-17 01:30] javamonkey79 opened #95 "function_exists requires list_functions permission"
The current implementation of function_exists requires the calling account to have list_functions permissions. It also iterates through the functions. A better implementation would be to use the get_function function.

[2018-02-17 01:31] javamonkey79 commented on #95
@bonghodrum

[2018-02-21 10:24] hhunaid opened #98 "Package libraries with native dependencies"
I am developing on macOS and want to package Pillow. I have installed and downloaded pillow from an ec2 instance and want it to be packaged instead of the one in site-packages. Right now only way to do is to include PIL in source_directories and uninstall it via pip before packaging.
Is there a better way to do it?

[2018-02-23 16:25] scotwk commented on #86
@karthich - any work on this?  I want something similar.  I can submit a PR but I don't want to step on your toes if you have something in progress.

What will the interface look like?  afaict the click library doesn't support a parameter with an optional argument, so will `--use-requirements` be changed to be `--requirements PATH`?  That will break backwards compatibility, but other than that see

[2018-02-23 18:07] karthich commented on #86
Yes. Will submit a PR this weekend. Sorry been super busy at work.

[2018-02-23 20:30] scotwk commented on #86
@karthich - I ended up making the changes locally to get stuff going on my end.  If you haven't started on it, I'm happy to submit mine.  Just let me know.

[2018-02-25 22:36] karthich commented on #86
If you've already done it locally, I don't want to duplicate your work. Go ahead and submit yours. Thanks!

[2018-02-27 17:33] scotwk opened #101 "Bug - VPC configuration is not applied during creation"
The VPC config settings are used during `update_function` but not in `create_function`

[2018-03-06 23:02] scotwk opened #103 "Enhancement - allow setting concurrency"
Looks like setting the concurrency isn't allowed in `create_function` or `update_function_configuration`

This would require callouts to two separate functions:

[put_function_concurrency](http://boto3.readthedocs.io/en/latest/reference/services/lambda.html#Lambda.Client.put_function_concurrency)

[delete_function_concurrency](http://boto3.readthedocs.io/en/latest/reference/services/lambda.html#La

[2018-03-19 08:44] dsp05 opened #104 "Support more AWS regions"
https://github.com/nficano/python-lambda/blob/master/aws_lambda/aws_lambda.py#L29-L31

'cn-north-1': 'aws-cn',
'cn-northwest-1': 'aws-cn',

[2018-03-22 15:59] jakezcruit opened #105 "Support Anaconda environments?"
Can this work with a conda environment instead of a Python virtualenv? I work mainly in Anaconda and to use this I'd have to use virtualenv, if I'm not mistaken.

[2018-03-26 14:19] #86 closed

[2018-03-26 15:59] #101 closed

[2018-03-27 23:02] rbatta commented on #92
Did you find a way around this?

[2018-03-27 23:18] javamonkey79 commented on #92
@rbatta sorta... we were able to get it to work by just using `--local-package `. It has limitations, but, I think it has more to do with pip than python-lambda. Depending on your setup, it could be easier to just setup your own pypi.

[2018-03-27 23:18] #92 closed

[2018-04-03 19:02] AndySun25 opened #106 "Pip installing futures despite being on python 3"
For some odd reason, installing python lambda always brings along futures thus breaking various lambda apps I attempt to deploy. I've been able to replicate this across multiple virtualenvs in Linux and also when installing on Windows.

[code]

[code]

[2018-04-11 12:05] loren commented on #59
I'm running into this, too, but I'm not sure what the workaround is exactly. Can somebody please jot down the steps they took?

[2018-04-17 03:16] jakezcruit opened #108 "AttributeError: module 'pip' has no attribute 'operations'"
When I run 'lambda deploy' I get:

Gathering pip packages
Traceback (most recent call last):
  File "/Users/jacobschumaker/.virtualenvs/test/bin/lambda", line 230, in <module>
    cli()
  File "/Users/jacobschumaker/.virtualenvs/test/lib/python3.6/site-packages/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/Users/jacobschumaker/.virtualenvs/test/lib/python3.6/

[2018-04-17 05:53] parkourben99 opened #109 "pip-10.0.0 has no attribute main"
[code]

[2018-04-17 09:31] moee commented on #108
I had the same problem, downgrading pip inside the virtualenv from version 10 to version 9 did the trick for me:

`pip install pip==9.0.3`

[2018-04-17 13:28] jakezcruit commented on #108
Thanks, that worked for me too

On Tue, Apr 17, 2018 at 4:31 AM, Michael Osl <notifications@github.com>
wrote:

[2018-04-17 23:07] nficano commented on #108
fixed w/ pip 10 :)

[2018-04-17 23:07] #108 closed

[2018-05-06 09:53] nicolasbmi opened #111 "Deployment issue with "lambda deploy""
Hi, i was trying to "lambda deploy" when this error occured after :

`botocore.exceptions.ClientError: An error occurred (InvalidSignatureException) when calling the CreateFunction operation: Signature expired: 20180506T081010Z is now earlier than 20180506T081523Z (20180506T082023Z - 5 min.)`

[2018-05-07 00:04] soapergem opened #112 "Deployment package is huge"
I can't believe I'm the first person commenting on this, so if I'm not kindly redirect me to the previous post. Or if I've simply got things misconfigured, let me know that too. I'm seriously hoping that I simply have things misconfigured.

I was following along with the example function that gets generated when you call `lambda init`. Everything seemed simple enough and it all seemed to work fine

[2018-05-07 14:57] soapergem commented on #112
I figured it out, and gratefully it is essentially a configuration problem. I just dug through the code and found there is an option to specify which requirements are used, and when omitted it grabs everything already on your system. So I just need to create an empty text file named "requirements" and then invoke the deploy command as follows:

`lambda deploy --requirements=requirements`

Then it

[2018-05-07 17:57] #112 closed

[2018-05-15 12:54] #109 closed

[2018-05-15 16:49] krarey commented on #106
Seeing a similar issue in release 3.2.2. While the patch to detect Python 3 seems to be in place, the python_lambda.egg-info/requires.txt file in the PyPI packaged release has a line at the bottom explicitly requesting futures.

[code]

requires.txt content is:
[code]

[2018-05-15 17:40] krarey commented on #106
Huh..ignore the comment above. Something must have been wrong in my environment, as it's now back to working as expected.

[2018-05-15 18:16] #106 closed

[2018-06-13 19:20] gmyers-amfam commented on #78
I just created a [pull request](https://github.com/nficano/python-lambda/pull/116) to address this issue. In my PR I added a `--preserve-vpc` command line flag that allows you to not worry about setting the VPC info in the config.yaml

[2018-06-15 16:46] loren opened #117 "Build and deploy issues with 3.2.2"
Hi, I've used `python-lambda` to build and deploy over a dozen lambdas but now I'm running into problems re-deploying existing lambdas and building new ones. Here's what my session looks like trying to follow the README to build and deploy the lambda bootstrapped by `lambda init`:

[code]

I can invoke the lambda locally just fine. It's the build step that seems to get tripped up on the package ve

[2018-06-18 11:05] shanmugavelsubramani commented on #78
Whats the status of this request? Is there a way i can include this fix into the package?

[2018-07-14 20:29] bdrhoa commented on #117
Same here (I'm not worred about the 'Unable to locate credentials'):

[code]

[2018-07-25 19:12] RazvanTolbaru opened #118 "AWS LAMBDA - Unable to import module"
Hi,

I've followed the **Getting Started** guide.

Folder structure:
[code]
This is my **service.py**:
[code]

Invoking the lambda function locally works without any issues.
[code]
Deployed to AWS without any errors:
[code]
When trying to invoke on AWS,
[code]
I've noticed that my deployment zip doesn't have OpenSSL installed either.
Pretty sure I am missing something, just can't say what.

Thanks

[2018-08-01 18:14] kmbenitez commented on #118
I'm not sure why deploying with no requirements file didn't upload the right directories. I was able to move a step further by creating a requirements.txt file and then deploying using `lambda deploy --requirements='requirements.txt'`

Depending on your machine, you may (likely will) need to make sure that you compile this package against a Linux system. I like the method here: https://medium.free

[2018-08-01 20:25] RazvanTolbaru commented on #118
@kmbenitez, thank you for the reply.
I am using the package to create the scaffolding for the lambda function and I upload afterwards the deployment package (easier this way to add all the subnets and security groups in one go)

Yes, I build my deployment package on a Linux host.

[2018-08-01 20:25] RazvanTolbaru commented on #118
Closing down. building the deployment package manually

[2018-08-01 20:25] #118 closed

[2018-08-07 09:32] Birne94 opened #120 "Building from a non-working directory does not include any files into the bundle"
We are using one repository which includes multiple lambda configurations.

[code]

 I created a little script to create packages for each of the functions:
[code]

The resulting packages only contain the installed requirements, but not any of the lambda handler itself.

This is caused by the [`isfile` check in `aws_lambda.build`](https://github.com/nficano/python-lambda/blob/0b02ec519d2ba0b189302

[2018-08-07 12:42] Birne94 commented on #98
I ran into the same problem today and fell back to using a docker container for building the function package. Something along the lines of the following Dockerfile would do the job (e.g. for Ubuntu 16.04):

[code]

[code]

I mount the `dist` directory where the packages are created as a volume on my host machine so I can have them in the same place as I would when building natively.

[2018-08-21 00:00] jay-ketos opened #123 "Error when trying to "lambda deploy""
<img width="1177" alt="screen shot 2018-08-20 at 4 59 22 pm" src="https://user-images.githubusercontent.com/31045551/44372785-6fa80000-a49a-11e8-9e5e-3715c3f59031.png">

[2018-09-07 16:07] #78 closed

[2018-09-12 13:54] kmbenitez opened #126 "Revision of pip internals making the pip install stop after one package"
On my most recent invocations of lambda build I'm only getting the first package listed in my requirements.txt installed to the build. The output says that the rest are being processed, but the install is returning an error.

Given that Pip is actively trying to discourage use of itself as a package, I think it's time to begin using subprocess.

[2018-09-12 22:14] winsome commented on #126
I'm seeing the same issue with python-lambda 3.2.4, pip 18.0, and the following requirements.txt

[code]

`futures` is installed into the zip whereas `jmespath` isn't.

[2018-09-13 13:35] kmbenitez commented on #126
Same versions as @winsome. I just replicated the issue with the following requirements.txt

[code]

and
[code]
In both cases, the first package was installed into the zip, but the second wasn't.

I was able to update `_install_packages` (and the call to pip freeze) to use subprocess (introduced in Python 2.4). I'm not sure about the dependency implications though.

[2018-09-13 13:47] kmbenitez commented on #126
I created a pull request a while back for another feature, and it appears my commit for the fix on this got pulled into that request. I'm not sure how to separate them to make two separate pull requests for the different features.

[2018-09-17 09:32] henry034 commented on #126
Same here. It will lose some packages due to the revision.

[2018-09-17 18:40] soapergem commented on #126
Thanks to all reporting this issue. I have verified the bug using the arrow/PyMySQL requirements.txt file. I will test out the subprocess fix and if it works I'll try to get a release out sometime this week.

[2018-09-19 19:17] #126 closed

[2018-09-19 19:28] kmbenitez commented on #126
Thanks! For my future knowledge, as far as I could tell I couldn't create a pull request because I already had one open. What's the right way to do this?

[2018-09-19 20:15] soapergem commented on #126
@kmbenitez you probably did it correctly - for some reason I didn't see that you had a PR though. Forgive me, as I'm still relatively new to the Python ecosystem, so I may have just overlooked it. In any case, your changes have been merged in, and release v3.2.5 has been published which fixes this issue.

[2018-09-19 20:17] soapergem commented on #123
Why did you add `sudo` to your invocation? I can't think of any reason to ever need elevated privileges to use this package.

[2018-09-20 20:38] romelgomez opened #128 "AttributeError: 'int' object has no attribute 'decode'"
After doing a fresh Installation, and run:  `lambda deploy`

[code]

Y get the error `AttributeError: 'int' object has no attribute 'decode'`

[2018-09-20 21:18] soapergem commented on #104
These changes have been incorporated into the latest release (3.2.6).

[2018-09-20 21:18] #104 closed

[2018-09-20 21:18] soapergem commented on #103
These changes have been incorporated into the latest release (3.2.6).

To use them simply add something like this to your `config.yaml` file:

[code]

[2018-09-20 21:18] #103 closed

[2018-09-20 21:20] soapergem commented on #128
Whoops, yeah we introduced that problem yesterday into 3.2.5 while patching another issue. The reason it wasn't caught is because I tested it with the `-r` flag to specify a requirements.txt file. I can see that if you omit this flag it wouldn't have worked, because we were mistakenly using `subprocess.check_call()` instead of `subprocess.check_output()`.

This has been fixed in 3.2.6 which I just

[2018-09-20 21:20] #128 closed

[2018-09-25 03:58] marcelinhov2 opened #130 "Numpy with python-lambda"
Hi guys, first o all, thanks for your hard work.

We are trying to deploy a lambda function that requires numpy, and we don't know what to do anymore...

Can you guys help us?

Thanks :)

[2018-10-01 23:34] #95 closed

[2018-10-07 07:03] shivanetha opened #131 "Cannot use/import git package inside lambda"
Hey Hi
I'm trying to use git python package in lambda service.py, after deploying when i query lambda using api gateway url, getting the following error in CloudWatch error logs

Error
--
Unable to import module 'service': Bad git executable.
The git executable must be specified in one of the following ways:
- be included in your $PATH
- be set via $GIT_PYTHON_GIT_EXECUTABLE
- explicitly set via g

[2018-10-11 08:03] shivanetha commented on #131
I used github rest api as a workaround solution for the above issue.
issue solved

[2018-10-11 08:03] #131 closed

[2018-10-11 21:58] shivanetha opened #132 "Unable to import module 'service': No module named pkg_resources"
Any idea about this error:

i'm trying to import a python package, i ran following command to install package

pip install anyconfig -t ./

and when i do import i'm getting the following error

Unable to import module 'service': No module named pkg_resources

[2018-10-12 12:12] shivanetha commented on #132
In file https://github.com/nficano/python-lambda/blob/master/aws_lambda/aws_lambda.py
line number : 439 i have modified
pkgStr = subprocess.check_output([sys.executable, '-m', 'pip', 'freeze'])

with

pkgStr = subprocess.check_output([sys.executable, '-m', 'pip', 'freeze', '--all'])

it worked fine

[2018-10-12 12:17] #132 closed

[2018-10-16 23:16] Yloganathan commented on #59
Why include boto3 while it is available as part of runtime?
https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html

[2018-10-25 19:05] mconigliaro commented on #24
I'm having a logging problem as well. I followed the [python-logging](https://docs.aws.amazon.com/lambda/latest/dg/python-logging.html) doc from AWS, but I can't get anything to print locally:

[code]

[code]

[2018-10-26 17:41] mconigliaro commented on #24
It looks like one of my project's dependencies has control of the root logger, so I made my own, and that seemed to fix it:

[code]

[2018-11-08 20:56] kmbenitez commented on #130
I'm also guessing that you may run into some issues with requiring libraries to be compiled against the correct architecture. I've been following the process [here](https://medium.freecodecamp.org/escaping-lambda-function-hell-using-docker-40b187ec1e48) after doing local tests to run `lambda deploy` from within a docker container.

[2018-12-14 10:09] alvsanand commented on #68
Me too

[2019-01-06 21:47] cormbrazo commented on #123
I'm running into an issue when I try to deploy... I keep getting this error: "**Could not find a version that satisfies the requirement bonjour-py==0.3 (from versions: ) No matching distribution found for bonjour-py==0.3**"

Do you know a workaround for this?

Thanks,
Ryan

[2019-02-18 08:11] warlock-jay opened #134 "Pre-signup lambda function for checking username and email existed in cognito userpool"
Hi,
I have created cognito userpool and i gave email verification.It is showing username or email is existed after verification,I want to check username or email in userpool in pre-signup lambda function.
Is it possible?Any examples on that.

[2019-02-19 00:58] AlissonRS opened #135 "lambda is not reconized as a command"
So I run exactly these commands, as the readme.md file explains:

[code]

From your pylambda directory, run the following to bootstrap your project.

[code]

When I run `lambda init`, It throws "lambda" is not recognized as an internal command. How can I fix this?

[2019-02-19 18:45] soapergem commented on #135
Without knowing more specifics about your particular setup, I don't think anyone will be able to help. When I run those same commands verbatim, everything works fine. Are you on Linux, Mac, Windows, WSL? Are you using anything like pyenv or conda? What version of Python do you have installed?

[2019-02-19 19:28] AlissonRS commented on #135
Hi @soapergem , I appreciate your help.

So I'm using Windows 10 Pro, and regarding the packages you mentioned, these are the versions:

pip 10.0.1
python 3.6 (I also have 3.7 installed, I tried using both just in case)
virtualenv 16.4.0
virtualenvwrapper 4.8.4
pyenv and conda are not recognized as internal commands.

After trying that, I also tried installing virtualenvwrapper-win (which is a wra

[2019-03-09 22:01] mikeycoxon commented on #68
Yes, I think this would be a very useful feature. I was thinking about submitting a patch for this along the same lines, so if you're doing it, I'll definitely support and use it.

[2019-03-11 22:32] Varxtis511 commented on #135
Try "lambda.py" instead of just "lambda".
I had the same issue and this fixed it for me since the lambda command is a .py file.

[2019-03-25 01:19] nathanjr commented on #135
I'm on Windows 10 as well. I had to rename "lambda" to "lambda.py" in my python "Scripts" folder. I could then do "lambda.py init".

[2019-03-27 20:17] madanmishra commented on #134
Did you found the solution?

[2019-03-31 06:05] stevefan commented on #135
pylambda and python-lambda are different packages

pip python-lambda is the recommended install via https://pypi.org/project/python-lambda/ and behaves as this projects readme says it should e.g. lambda init works

[2019-04-01 02:23] AlissonRS commented on #135
I did install python-lambda, not sure if you read my post carefully. I did everything explained in the readm.me and it was not working.

[2019-04-01 02:24] AlissonRS commented on #135
@Varxtis511 @nathanjr nice catch, I'll try that when I come back to this project. Thanks!!!

[2019-04-01 04:47] stevefan commented on #135
Sorry didn't read it carefully enough. Got to a similar error where
expected commands didn't work but from installing the wrong package, it was
late and didn't notice the details of your post.

On Sun, Mar 31, 2019 at 7:23 PM Alisson Reinaldo Silva <
notifications@github.com> wrote:

[2019-04-01 05:03] AlissonRS commented on #135
@stevefan that's cool mate, I understand you were just trying to help, I appreciate that. Unfortunately I'm working on a different project now, but if this thread is still open when I get back to this project, I'll post here my findings.

[2019-04-23 19:03] maxpearl opened #138 "Error with lambda invoke"
running lamdba invoke throws this error:
[code]
Steps to replicate:
- create pipenv
- pipenv install python-lambda
- create event.json
- edit yaml file
- create python service.py
- run lambda invoke -v

It's not fatal, the service runs fine.

[2019-06-06 07:46] w00kie commented on #138
This is fixed in Pull Request #140 but it's been sitting there since early may without a merge or a release.

[2019-06-06 19:36] mwbenowitz opened #141 "Enhancement - Add Layers support to create/update methods"
Currently this doesn't support the newly added [layers](https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html) functionality for lambda functions.

Would be nice to have this as an option in the `config.yaml` file as an array of layer ARNs, similar to `subnet_ids` or other options that can accept none or many values.

[2019-07-12 20:17] dsc03 opened #142 "Pointing deployment to aliases and pulling original env variables"
Hi @nficano !

Really love this package. My team currently uses it and its added a lot of much needed structure to our lambda creation and deployment process. There's a feature we've been trying to determine if it is already implemented but haven't been able to confirm whether or not its supported:

We have multiple users who work on our lambda functions. In our config files, we don't specify envi

[2019-07-26 10:33] rnobleeddy commented on #135
If it helps anyone, I had both rename `lambda` to `lambda.py` and then invoke it with `python c:\full\path\to\lambda.py init`

[2019-08-09 02:16] owen9825 commented on #111
I had the same phenomenon too. It seems that the build process was just a bit too long on one occasion.

[2019-08-09 14:54] aluciffer commented on #138
I have the same problem please pull!

[2019-08-09 15:00] aluciffer opened #168 "TypeError: str expected, not int"
Hi,

I get this 'expected str, not int' error that gets traced back to :
[code]

This is because i have configured an int variable in my config.yaml, i.e.:
`repeat: 100`

Would it be good to wrap `get_environment_variable_value `in `str() `?

[2019-08-18 18:07] jonahjones777 commented on #59
The fix for this is to change either

1. Use pip3 install for lambda runtimes of 3.X
2. Delete the folder in your packaged `concurrent/futures/`

[2019-08-20 11:08] opobla opened #183 "Bundling too many artifacts"
Hi!
When doing `lambda deploy` too many artifacts get bundled:
[code]

Is there a way to exclude/include explicitly what should be bundled?
Regards

[2019-08-21 14:41] marcelorcorrea commented on #183
It does't answer your question, but if you need to include some source folder, you can add it in your config.yaml in build > source_directories separated by comma.

[2019-08-22 08:46] opobla commented on #183
I have tried to put the source code in a `lib` folder y include it in the `config.yaml`, but the result is that `invoke` no longer works and `build` bundles everything in the root folder and also the contents of the `lib` folder.

I think that the idea should be to add support for a sort of `.lambdaignore` mechanism to avoid bundling artifacts that do not belong to the execution environment of the

[2019-08-29 10:12] unrealsolver commented on #183
@opobla, indeed there are no possibility to this. According to the source code, the tool packs whatever content of the directories. I going to came up with PR addressing this issue sooner or later.

[2019-09-09 19:53] Alan-Penkar-QB commented on #183
I would benefit from this functionality as well

[2019-10-06 02:26] Veilkrand opened #249 "`deploy` bundles `boto3` and `botocore` to deploy into lambda"
`boto3` or `botocore` packages shouldn't be bundled and deployed to lambda as they are already available in the lambda function environment.

[2019-10-06 02:57] Veilkrand commented on #141
I will enjoy this enhancement as well. But with the new Lambda Applications for Python (not yet released) everything will change. I don't think layers and dependencies will be handled in the same way.

[2019-10-16 18:23] lokkju opened #264 "Add ability to specify a schedule to run the lambda"
Many other lambda toolkits allow scheduling a lambda function as part of the lambda deployment; it'd be awesome to have that integrated into this one.

[2019-10-16 18:24] lokkju opened #265 "Add ability to create a role with a provided policy document"
It'd be very useful to internally manage the policy documents for a lambda written using this toolkit

[2019-10-20 17:21] urandu commented on #168
I think It would be good to wrap it in a str() like its done at this point https://github.com/nficano/python-lambda/blob/aad2dad8ec82e1c4eb4cd18d11245818d136693e/aws_lambda/aws_lambda.py#L662

[2019-10-20 17:25] urandu commented on #168
Here is the PR https://github.com/nficano/python-lambda/pull/270

[2019-10-31 11:09] stickboyc opened #285 "No Module Service"
I was able to deploy the function successfully to AWS, but when I test it in AWS, it throws an error saying the module service doesn't exist.

[2019-10-31 12:46] stickboyc commented on #285
Or at least throw an error saying there's a mismatch :P

[2019-11-01 17:36] kon commented on #138
+1

[2020-02-21 08:15] timgates42 opened #423 "Fix simple typo: Tranlate -> Translate"
There is a small typo in aws_lambda/aws_lambda.py.
Should read `Translate` rather than `Tranlate`.

[2020-03-18 19:34] baturorkun opened #468 "Accessing config.yaml parameters"
I want to access config.yaml parameters. For example "aws_access_key_id" or "description" or "timeout"  etc.. I could not find any object for this.

[2020-03-22 18:23] ninurtalabs commented on #468
Define your variables preferably under `environment_variables` e.g.
In `config.yml`
[code]

Then in your Python file
[code]

[2020-03-31 09:04] phuong-mai-mai opened #485 "ModuleNotFoundError: No module named 'click'"
Hey,
We would like to use the command `lambda build --requirements` with the newest python-lambda version which requires the following modules

- click
- boto3
- PyYAML

In version 3.2.6 of python-lambda the modules downloaded as dependencies which is not the case with the upgrade of python-lambda to 11.6.1.

Environment: python 3.6

Can you please help us?
Thanks :)

[2020-04-02 05:08] naimmalek commented on #485
Yes I'm having same issue.

python-lambda = 11.6.1
python = 3.8

[2020-04-07 00:33] TheDen commented on #485
Experiencing this issue to. Can confirm the last version that correctly installs the dependencies is `10.0.4`

Looks like the changes in this https://github.com/nficano/python-lambda/commit/30a74e746a4500e66d56f80d0ef855fe4f73e562 broke the install requirements

[2020-04-07 05:42] rishabh-bhargava commented on #485
@phuong-mai-mai just fixed this in #488 and released to PyPI in version 11.7.1.

[2020-04-07 05:42] #485 closed

[2020-04-07 05:58] rishabh-bhargava commented on #138
#140 is now merged and the latest code is released to PyPI. Closing the issue.

[2020-04-07 05:58] #138 closed

[2020-04-07 06:57] phuong-mai-mai commented on #485
Thank you 👍

[2020-04-13 23:30] #423 closed

[2020-04-17 19:03] monocongo commented on #105
I am using this in an Anaconda environment. It seems to work fine.

[2020-04-17 20:03] monocongo opened #490 "Dependencies aren't included in the dist/*.zip file after a build"
Thanks for all the work that's been done on this tool and for sharing as open-source, it really looks promising.

I have run `lambda build` but it doesn't appear to add any of the dependencies for my Lambda function in the resulting `dist/*.zip` file. I have a `requirements.txt` in the project directory (as described [here](https://hackersandslackers.com/improve-your-aws-lambda-workflow-with-pytho

[2020-05-30 10:02] NeolithEra opened #500 "Installation fails due to conflicting botocore version"
Hi, users are unable to run Dmn-python-lambda due to dependency conflict with _**botocore**_ package. As shown in the following full dependency graph of Dmn-python-lambda, Dmn-python-lambda requires _**botocore>=1.5.62,<2.0.0**_，while boto3==1.4.4 requires _**botocore>=1.5.0,<1.6.0**_.

According to pip’s “first found wins” installation strategy, _**botocore 1.16.16**_ is the actually installed ve

[2020-05-30 10:03] NeolithEra commented on #500
### Solution

1.	Loosen the version range of **_boto3_** to be **_>=1.4.4_**.
2.	Remove your direct dependency **_botocore_**, and use the **_botocore_** transitively introduced by **_boto3_**.
3.	Loosen the version range of **_botocore_** to be **_>=1.5.62,<1.6.0_**.
@nficano Which solution do you prefer, 1 ,2 or 3?
Please let me know your choice. May I pull a request to solve this issue?

[2020-06-02 15:21] zacharyabresch commented on #500
I'm also having this issue.

[2020-07-15 16:43] zacharyabresch commented on #500
Is anyone working on this? I believe I can't use Secrets Manager due to this and can't find a way to install the correct versions myself. Would rather not fork.

[2020-07-15 16:45] zacharyabresch commented on #500
Or has anyone found a workaround?

[2020-07-15 17:15] zacharyabresch commented on #500
Well, I attempted to push a branch for a pull request but I don't have permission (of course). This is really frustrating. I understand this is open-source so I'm not bitching. It would just be nice to get this fixed with such a simple change. There are also a _bunch_ of PRs from Dependabot awaiting review so not sure how active the maintainer will be.

[2020-07-16 13:46] zacharyabresch opened #511 "Deploying Lambda removes VPC Configuration"
I've been using your library for some time but am starting to run into some serious limitations. Today I added VPC configuration to my Lambda function through the AWS console because I discovered it needed this. I deployed using this package and it _removed_ the entire VPC configuration!!

I'm not really sure _why_ but it's a _major_ issue for me. I can't find anyway in the documentation to specif

[2020-07-20 14:45] zacharyabresch commented on #500
Okay, well, 5 days with no response. That's worrisome to say the least. Guess I'll have to start looking for a new tool

[2020-07-20 14:46] zacharyabresch commented on #511
Hello? Anyone? I know this is open-source but even a post saying "Sorry, too busy to work on this" would be nice. Or open it up for contributors.

[2020-08-03 17:55] brxck commented on #511
Yes, it would be nice, but please understand that no one is obligated to help you. Maintainers have lives and other priorities. On the other hand, the information is [out there for you to find](https://github.com/nficano/python-lambda/issues/78).

[2020-08-03 18:03] zacharyabresch commented on #511
Well aware of how open-source works but somehow we've both found time to reply to this thread. You link _was_ helpful so thank you for that. I went ahead and rewrote most of what I was using this tool for myself so no harm, no foul. Have a great day and stay safe!

[2020-08-03 18:03] #511 closed

[2020-09-25 08:34] dependabot-preview[bot] opened #521 "Dependabot couldn't authenticate with https://pypi.org/simple/"
Dependabot couldn't authenticate with https://pypi.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/nficano) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/nficano/update-logs/48594134).

[2020-09-26 01:58] #521 closed

[2020-10-25 11:35] NeolithEra commented on #500
@zacharyabresch Sorry for my late reply. Generally, it is a automated tool (implemented as a bot on GitHub https://github.com/apps/watchman-pypi ). But there is administrator looking at your comments. : p
Welcome try this dependency conflict diagnosis tool for Python projects.

[2020-11-05 04:19] cole-seph commented on #500
Plus one on this issue

[2021-01-04 20:46] rishabh-bhargava commented on #75
Looks like this is solved with #87. Closing the issue.

[2021-01-04 20:46] #75 closed

[2021-01-05 04:56] rishabh-bhargava commented on #500
Found some time to fix this (#534 ) - followed bullet points 1 and 2 from the solution mentioned earlier (thanks @NeolithEra). Please use the latest version:  `python-lambda==11.8.0`, which should allow for more up-to-date `boto3` and `botocore` versions.

If you run into any issues, please let me know - happy to push additional fixes as needed.

[2021-01-05 05:19] rishabh-bhargava commented on #77
@zhang8473 Curious to understand if this is still an issue? If you provide links to a few Python packages (preferably that are already on PyPI), I can take take a look.

[2021-04-30 12:27] dominusmi opened #636 "Testing multiple events together"
I was thinking that it would be very useful to be able to test multiple events in a row instead of just one, like a test battery.
Of course I could just write a simply script on my local machine, but it sounds like an interesting feature to add to the library.

In order to keep the events separate (so that you can also unit test), I was thinking of a command to invoke all events in a directory for

[2021-05-26 19:13] imendi commented on #249
This is making my bundle too big and can't deploy. Any workaround ?

[2021-09-10 21:40] #500 closed

[2021-10-23 09:26] eliorc opened #710 "Feature request: Support for Poetry dev separation"
Using the [Poetry](https://python-poetry.org/) package manager, it is possible to separate standard packages, from packages you only need for development.

For instance, I might develop some code and would install `python-lambda` because I need it for development and packaging, but I don't actually need it in the actual lambda code environment. For this purpose, Poetry has the ability to install p

[2021-11-26 00:08] roamdam opened #711 "Lambda deploy : call to update_configuration_function is made before lambda update status is ready"
### Problem

It seems that the [application of lambda states to all functions](https://awsfeed.com/whats-new/compute/coming-soon-expansion-of-aws-lambda-states-to-all-functions), including zip-file based lambdas, prevents from deploying as previously with `lambda deploy`. Several lambdas that I was able to deploy perfectly last week do not deploy now.

### Error

The error I'm getting is the follo

[2022-02-22 10:38] Lowess commented on #711
@nficano any chance to get the PR from [rashadmoarref](https://github.com/rashadmoarref) approved ? I have been using his fix as well it it is working fine !

Thanks.

[2022-03-06 13:54] SyedShahzaib790 opened #715 "AccessDeniedException Error while lambda deploy"
Hi there,

I am unable to deploy my code on lambda using python-lambda library. It's giving me the following error, I have given all access/permission to my user but this error is not going away. Need help ASAP.

Thanks

[2022-04-19 18:55] znotdead commented on #711
Sleep looks like hack and what if you are updating many functions in same time? deployment will be very long.
Possible solutions:
1. First deploy code and deploy new configuration -> than change status to published in separate command. Haven't tried yet but according docs should work
2. Much less acceptable is to try fetch status from AWS and when it's published try change config. but after is sti

[2022-04-19 21:05] znotdead commented on #711
Pkay. As everything is async I've used waiter to make next changes. PR https://github.com/nficano/python-lambda/pull/716

[2022-06-19 23:24] datapolitical commented on #123
I'm having the same issue for cloud-init=22.2, but the package is installed

[2022-06-20 00:20] datapolitical opened #717 "Unable to install cloud-init on lambda deploy"
It's on my computer, but it will not install the package beause it's not on pypl. I'm at a loss how you want me to do this.

[2022-06-20 20:23] rishabh-bhargava commented on #717
From what I understand, `python-lambda` itself doesn't need `cloud-init` or any similarly named package to run successfully. Mind sharing the logs/screenshot of where this error comes up?

[2022-07-27 20:54] bot2x commented on #636
Hey. This is a really good suggestion as a feature. For most lambda, I have multiple copies of event.json renamed with numbers attached.

[2022-07-27 20:54] bot2x commented on #636
@nficano Thoughts ?

[2022-07-27 20:57] bot2x commented on #717
@datapolitical do you mean that you have a local copy of this library which you want to get packaged while creating a build with python-lambda ?

[2022-08-02 18:22] bot2x commented on #468
@baturorkun Can you describe your problem a little more if getting it through "os.envrion.get(<config_parameter_name>)" does not fully solve the issue.

[2022-08-02 18:26] bot2x commented on #715
@SyedShahzaib790 Is this resolved ?

Seems like the IAM user that you used to deploy the function does not have the right permissions. Who manages permissions in your case ?

[2022-09-20 08:56] vorte commented on #711
I can see this issue has been resolved in #714 but the latest version available on pip is 11.8.0 from over a year ago. https://pypi.org/project/python-lambda/

Is it possible to publush a new version please so we can have access to the latest code via pip?